@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.trans_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  display: none;
}

.trans_ipad {
  display: none;
}

.trans_iphone {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .trans_bg {
    display: block;
  }

  .trans_ipad {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #bf171e;
  }
  .trans_ipad .trans_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .trans_ipad .trans_center img {
    width: 50%;
    height: auto;
  }
  .trans_ipad .trans_center p {
    font-size: 1.25rem;
    color: white;
    line-height: 1.5;
    text-align: center;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  .trans_bg {
    display: block;
  }

  .trans_iphone {
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #bf171e;
    position: absolute;
    display: block;
    background-color: #bf171e;
  }
  .trans_iphone .trans_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .trans_iphone .trans_center img {
    width: 35%;
    height: auto;
  }
  .trans_iphone .trans_center p {
    font-size: 1rem;
    color: white;
    line-height: 2rem;
    text-align: center;
    padding-top: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .trans_bg {
    display: block;
  }

  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #bf171e;
    position: absolute;
    background-color: #bf171e;
  }
  .trans_iphone .trans_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .trans_iphone .trans_center img {
    width: 35%;
    height: auto;
  }
  .trans_iphone .trans_center p {
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    text-align: center;
    padding-top: 20px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .trans_bg {
    display: block;
  }

  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #bf171e;
    position: absolute;
    background-color: #bf171e;
  }
  .trans_iphone .trans_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .trans_iphone .trans_center img {
    width: 35%;
    height: auto;
  }
  .trans_iphone .trans_center p {
    font-size: 1.25rem;
    color: white;
    line-height: 1.5;
    text-align: center;
    padding-top: 25px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .trans_bg {
    display: block;
  }

  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #bf171e;
    position: absolute;
    background-color: #bf171e;
  }
  .trans_iphone .trans_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .trans_iphone .trans_center img {
    width: 35%;
    height: auto;
  }
  .trans_iphone .trans_center p {
    font-size: 1.2rem;
    color: white;
    line-height: 1.5;
    text-align: center;
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  /* for IE */
}

b {
  font-weight: 700;
}

body {
  min-height: 600px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: black;
  line-height: 1.75rem;
  font-weight: 400;
  font-family: 'PingFang TC', '黑體-繁', 'Heiti TC', '蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  background: url(../asset/svg/bg_dot.svg) repeat, #f4eeee;
  position: relative;
  z-index: -5;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

.calligraphy {
  font-family: 'calligraphy', 'DFKai-sb';
  font-weight: 500;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.firstcontent {
  width: 100%;
  height: 100vh;
  position: relative;
}

.redbg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
}
.redbg:before {
  content: "";
  display: block;
  background: url(../asset/svg/bg_dot.svg) repeat, #efafab;
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  height: 1100px;
  -moz-transform: skewY(15deg) translate3d(0, 0, 0);
  -ms-transform: skewY(15deg) translate3d(0, 0, 0);
  -webkit-transform: skewY(15deg) translate3d(0, 0, 0);
  transform: skewY(15deg) translate3d(0, 0, 0);
  -moz-background-size: 20%;
  -o-background-size: 20%;
  -webkit-background-size: 20%;
  background-size: 20%;
  z-index: -1;
}

footer {
  width: 100%;
  height: auto;
  font-size: 0.8125rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  position: relative;
  background: #d10202;
  text-align: center;
  padding: 15px 0;
}
footer a {
  color: white;
}
footer .gotop {
  width: 110px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -100%);
  top: 0;
  background: url(../asset/svg/gotop.svg) no-repeat;
}
footer .gotop span {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, 0);
  bottom: 0;
}
footer .gotop span img {
  width: 15px;
  height: 23px;
}

.product_fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.product_fixed:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-style: solid;
  border-width: 0 0 250px 250px;
  border-color: transparent transparent #bf171e transparent;
  z-index: -1;
}
.product_fixed .product_can {
  width: 80px;
  height: auto;
  margin-right: 50px;
  margin-bottom: 20px;
}
.product_fixed .product_can > img {
  width: 100%;
  height: auto;
  display: block;
}

.popbg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: #bf171e;
  z-index: 50;
}

.rulewrap,
.awardwrap {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

.rule, .awardlist {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #fff;
  min-width: 600px;
  min-height: 400px;
  text-align: center;
  padding: 160px 35px 30px 35px;
}
.rule h2, .awardlist h2 {
  font-size: 3.125rem;
  position: absolute;
  top: 90px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.rule .gotop, .awardlist .gotop {
  width: 110px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 0;
  left: calc(50% - 55px);
  background: url(../asset/svg/gotop.svg) no-repeat;
}
.rule .gotop .close, .awardlist .gotop .close {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 67%;
  left: 40%;
}
.rule .gotop .close span, .awardlist .gotop .close span {
  width: 23px;
  height: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 5px;
  background-color: #fff;
  display: block;
}
.rule .gotop .close span:first-child, .awardlist .gotop .close span:first-child {
  -moz-transform: rotate(45deg) translate3d(1px, 4px, 0px);
  -ms-transform: rotate(45deg) translate3d(1px, 4px, 0px);
  -webkit-transform: rotate(45deg) translate3d(1px, 4px, 0px);
  transform: rotate(45deg) translate3d(1px, 4px, 0px);
}
.rule .gotop .close span:last-child, .awardlist .gotop .close span:last-child {
  -moz-transform: rotate(-45deg) translate3d(1px, -4px, 0px);
  -ms-transform: rotate(-45deg) translate3d(1px, -4px, 0px);
  -webkit-transform: rotate(-45deg) translate3d(1px, -4px, 0px);
  transform: rotate(-45deg) translate3d(1px, -4px, 0px);
}
.rule .gotop:hover .close, .awardlist .gotop:hover .close {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rulecontent {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0 50px;
  font-size: 0.9375rem;
  text-align: justify;
}
.rulecontent h3 {
  font-size: 1.125rem;
  color: #d10202;
  font-weight: 700;
  margin: 30px 0 20px 0;
}
.rulecontent .tips li {
  font-size: 0.8125rem;
  list-style-type: decimal;
  margin-left: 20px;
}
.rulecontent .award {
  font-size: 0;
}
.rulecontent .awarditem,
.rulecontent .awardtxt {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
.rulecontent .awarditem {
  width: 170px;
}
.rulecontent .awarditem > img {
  width: 100%;
  height: auto;
  display: block;
}
@media only screen and (max-width: 1300px) {
  .rulecontent .awarditem {
    display: block;
    width: 50%;
  }
}
.rulecontent .awardtxt {
  width: calc(100% - 170px);
  padding: 40px 0 0 30px;
}
.rulecontent .awardtxt h4 {
  font-size: 1rem;
  color: #d10202;
  line-height: 25px;
  font-weight: 700;
}
.rulecontent .awardtxt h4 span {
  font-size: 0.8125rem;
  color: #000;
  line-height: 25px;
  font-weight: 400;
  margin-left: 10px;
}
.rulecontent .awardtxt p {
  font-size: 0.8125rem;
  color: #000;
}
@media only screen and (max-width: 1440px) {
  .rulecontent .awardtxt br {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  .rulecontent .awardtxt {
    width: 70%;
    padding: 20px 0 0 0;
    display: block;
  }
}

.awardlist {
  height: 65%;
  min-height: 500px;
}

.awardcontent {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 0 50px;
  max-width: 450px;
  font-size: 0.9375rem;
}
.awardcontent ul {
  text-align: center;
  font-size: 0;
}
.awardcontent ul .redlist {
  background-color: #d10202;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 0;
}
.awardcontent ul li {
  font-size: 0.9375rem;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-bottom: 5px;
}
.awardcontent h3 {
  font-size: 1.125rem;
  color: #d10202;
  font-weight: 700;
  margin: -20px 0 30px 0;
}

@-webkit-keyframes float {
  from {
    margin-top: 10px;
  }
  65% {
    margin-top: 20px;
  }
  to {
    margin-top: 10px;
  }
}
@-moz-keyframes float {
  from {
    margin-top: 10px;
  }
  65% {
    margin-top: 20px;
  }
  to {
    margin-top: 10px;
  }
}
@-ms-keyframes float {
  from {
    margin-top: 10px;
  }
  65% {
    margin-top: 20px;
  }
  to {
    margin-top: 10px;
  }
}
@-o-keyframes float {
  from {
    margin-top: 10px;
  }
  65% {
    margin-top: 20px;
  }
  to {
    margin-top: 10px;
  }
}
@keyframes float {
  from {
    margin-top: 10px;
  }
  65% {
    margin-top: 20px;
  }
  to {
    margin-top: 10px;
  }
}
@-webkit-keyframes loading {
  from {
    top: -35px;
  }
  65% {
    top: -60px;
  }
  to {
    top: -35px;
  }
}
@-moz-keyframes loading {
  from {
    top: -35px;
  }
  65% {
    top: -60px;
  }
  to {
    top: -35px;
  }
}
@-ms-keyframes loading {
  from {
    top: -35px;
  }
  65% {
    top: -60px;
  }
  to {
    top: -35px;
  }
}
@-o-keyframes loading {
  from {
    top: -35px;
  }
  65% {
    top: -60px;
  }
  to {
    top: -35px;
  }
}
@keyframes loading {
  from {
    top: -35px;
  }
  65% {
    top: -60px;
  }
  to {
    top: -35px;
  }
}
@-webkit-keyframes gotogame {
  from {
    background-color: #d10202;
    border-color: #d10202;
  }
  65% {
    background-color: #f40000;
    border-color: #f40000;
  }
  to {
    background-color: #d10202;
    border-color: #d10202;
  }
}
@-moz-keyframes gotogame {
  from {
    background-color: #d10202;
    border-color: #d10202;
  }
  65% {
    background-color: #f40000;
    border-color: #f40000;
  }
  to {
    background-color: #d10202;
    border-color: #d10202;
  }
}
@-ms-keyframes gotogame {
  from {
    background-color: #d10202;
    border-color: #d10202;
  }
  65% {
    background-color: #f40000;
    border-color: #f40000;
  }
  to {
    background-color: #d10202;
    border-color: #d10202;
  }
}
@-o-keyframes gotogame {
  from {
    background-color: #d10202;
    border-color: #d10202;
  }
  65% {
    background-color: #f40000;
    border-color: #f40000;
  }
  to {
    background-color: #d10202;
    border-color: #d10202;
  }
}
@keyframes gotogame {
  from {
    background-color: #d10202;
    border-color: #d10202;
  }
  65% {
    background-color: #f40000;
    border-color: #f40000;
  }
  to {
    background-color: #d10202;
    border-color: #d10202;
  }
}
@-webkit-keyframes gotogame_pen {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
  65% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -8px;
    left: 3px;
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
}
@-moz-keyframes gotogame_pen {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
  65% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -8px;
    left: 3px;
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
}
@-ms-keyframes gotogame_pen {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
  65% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -8px;
    left: 3px;
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
}
@-o-keyframes gotogame_pen {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
  65% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -8px;
    left: 3px;
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
}
@keyframes gotogame_pen {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
  65% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -8px;
    left: 3px;
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -10px;
    left: 0;
  }
}
.loadingwrap {
  background: url(../asset/svg/bg_dot.svg) repeat, #efafab;
  -moz-background-size: 20%;
  -o-background-size: 20%;
  -webkit-background-size: 20%;
  background-size: 20%;
  z-index: 99;
}

.loadingcontent {
  width: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 55%;
  min-width: 100px;
  text-align: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: loading 2s infinite ease-out;
  -moz-animation: loading 2s infinite ease-out;
  -ms-animation: loading 2s infinite ease-out;
  -o-animation: loading 2s infinite ease-out;
  animation: loading 2s infinite ease-out;
  max-width: 200px;
}
.loading > img {
  width: 100%;
  height: auto;
  display: block;
}

.loadingtxt {
  margin-top: 30px;
  font-size: 1.25rem;
  font-weight: 700;
}

/*# sourceMappingURL=loading.css.map */
