<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="QuakerGinseng" connectionString="Data Source=203.69.40.54;Initial Catalog=tcat_db;User ID=baby_webg;Password=03webg29"
      providerName="System.Data.SqlClient" />
    <add name="QuakerConnectionString" connectionString="Data Source=JUN-PC\SQLEXPRESS;Initial Catalog=Quaker;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>