meta(charset = 'UTF-8') 
meta(http - equiv = 'x-ua-compatible', content = 'ie=edge') 
title 桂格 QUAKER｜養氣人蔘滋補液
// facebook share
meta(property = 'og:type', content = '桂格 QUAKER｜養氣人蔘滋補液') 
meta(property = 'og:title', content = '') 
meta(property = 'og:description', content = '') 
meta(property = 'og:image', content = '') 
meta(property = 'og:site_name', content = '') 
meta(property = 'og:url', content = '') 
meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
// favicon
link(rel = 'icon', href = 'img/favicon.ico')
// css style
block own_style
//if gt IE 9
script(src = 'js/vendor/html5shiv.js')
script(src = 'js/vendor/jquery-2.2.0.min.js')
// font
link(href='//fonts.googleapis.com/css?family=helvetica:700' rel='stylesheet' type='text/css')
script(src = '//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-46903.js')