#menu
	.menubox
		ul
			li
				block menuboxindex
				a(href="index.html") 回首頁
			li
				block fbpagelink
				a(href="#") 粉絲投稿活動
			li
				block rulelink
				a(href="#") 活動辦法
		//right-bottom-corner product
		include ../include/product
		//right-bottom-corner product
		include ../include/footer
	// bur
	include bur