//popbg
.popbg
//popupwrap
.rulewrap
	.rule
		.gotop
			.close
				span
				span
		h2.calligraphy 活動辦法
		.rulecontent#scroll
			.rulelist
				p
					| 活動期間於桂格養氣人蔘「迷你春聯」頁面，以文字方式輸入自己的話語，並成功將結果圖片分享至個人 FACEBOOK塗鴉牆上，將有機會獲得「桂格養氣人蔘」開運禮盒！
					br

					| 輸入的文字内容須合乎活動主題「新年人生感言」，並不得涉及色情、暴力、政治、種族歧視等違法或違背善良風俗之内容，若有違反情況，主辦單位有權在不告知的情況下刪除其內容。
				h3 活動日期
				p 2017/1/9(一) － 2017/2/5(日) 23:59截止
				h3 活動獎品
				.award
					.awarditem
						img(src="../img/award.png")
					.awardtxt
						h4 桂格養氣滋補液系列禮盒乙盒<span>共6名</span>
						p 預計在 2017/2/10(五) 於本活動網站公告得獎名單並信件通知得獎者。<br>電腦隨機選出，不重複得獎。
				h3 注意事項
				ul.tips
					li 消費者參加本活動時，即表示同意並遵守活動辦法，如有違反，即喪失參加資格。
					li 活動得獎者請於2017/02/28前回覆個人收件資料(或領獎表單)，逾期將取消中獎資格，並不再進行得獎名單遞補。
					li 主辦單位僅會以網站公告、粉絲團公告通知中獎訊息，請活動參與者密切注意網站公告，獎項將於2015/03/01後統一寄出，郵寄僅限至台、澎、金、馬地區。
					li 主辦單位有權取消、終止、修改活動內容、更換獎項或暫停本活動之進行，如遇活動辦法修改，將於本網站公告不另行通知。
					li 如因不可抗拒之事由導致獎品內容變更，中獎人同意接受主辦單位所安排之替代獎項，中獎者不得要求折現或轉換其他商品。
					li 如因輸入文字內容有違反公序良俗、惡意詆毀或散佈與事實不符之不當言論內容，主辦單位有權刪除其留言內容（包含圖片、連結）。並對於任何可能從事詐欺或其他破壞本網路活動或網站者保留採取法律行動之權利。